.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.addCardBtn {
  margin: 0 auto;
  width: 220px;
  height: 40px;
}
