
.pageOptionsList {
  @include tablet {
    display: none;
  }
}

.drawerOptionsList {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0px 22px 30px 16px;
  border: none;
}

.searchButton {
  @include tablet {
    display: none;
  }
}

.searchLink {
  width: 100%;
  display: none;

  &:hover {
    text-decoration: none;
  }

  @include tablet {
    display: block;
  }
}