.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
  @include mobile {
    order: 1;
  }
}

.input {
  text-align: center;
  &::placeholder {
    opacity: 1;
  }
  
  &:focus {
    &::placeholder {
      color: transparent;
    }
  }
}

.submit {
  width: 100%;
  margin-bottom: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 220px;
}