
.headerGroup {
  max-width: 1000px;
  width: 100%;
  margin: 10px auto 80px;
  padding: 0px 20px;

  @include medium {
    margin-bottom: 60px;
  }
  @include tablet {
    margin-bottom: 30px;
  }
  @include mobile {
    margin-bottom: 10px;
    padding: 0px 10px;
  }
}

.button {
  padding: 10px 14px;
}

.container {
  max-width: 788px;
  width: 100%;
  margin: 0 auto 120px;
  padding: 0px 20px;

  @include tablet {
    margin-bottom: 40px;
  }
  @include mobile {
    padding: 0;
  }
}

.photosGroup {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;

  @include mobile {
    margin: 0;
  }
}
