
.item {
  font-family: $BellezaFont;
  font-size: 80px;
  line-height: 5rem;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;

  @include medium {
    font-size: 80px;
    line-height: 86px;
  }
  @include tablet {
    font-size: 40px;
    line-height: 46px;
    font-family: unset;

    &_isActive {
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 4px;
      border-bottom: 2px solid $white;
    }
  }
  @include mobile {
    font-size: 18px;
    line-height: 23px;
  }
}
