.navigation {
  position: absolute;
  max-width: 135px;
}

.button {
  cursor: pointer;
  padding-left: 0;
  padding-right: 0;
}

.log-out {
  white-space: nowrap;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
}
