
.itemInitial {
  margin-left: -18px;
  font-weight: normal;
  @include defaultHover;

  @include mobile {
    display: none;
  }
}
.itemMobile {
  display: none;
  margin-left: -6px;
  padding: 8px;
  font-size: 0.75rem;

  @include mobile {
    display: block;
  }
}
