
.root {
  display: flex;
  align-items: center;
  margin-top: -6px;
  margin-left: -22px;

  @include mobile {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
}

.store {
  margin-right: 10px;

  @include mobile {
    margin: 0 0 32px 0;
  }
}