
.item {
  z-index: 1;
  padding: 5px 15px;
  
  &_hide {
    display: none;
  }
  
  &_side {
    &_right {
      margin-left: auto;
    }
    &_left {
      margin-right: auto;
      transform: scale(-1);
    }
  }
}
