.wrapper {
  margin-bottom: 30px;
}

.header {
  margin-bottom: 15px;
}

.list {
  display: flex;
}

.photo-wrapper {
  position: relative;
  width: 90px;
  height: 90px;
  margin-right: 15px;

  &:nth-child(3) {
    margin-right: 0;
  }
}

.photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.remove-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
}
