.wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: auto;

  @include tablet {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
  }
}

.title {
  font-family: $TenorSans;
  font-size: 100px;
  text-align: center;
  line-height: 1;

  @include tablet {
    font-size: 60px;
  }
}

.text {
  text-align: right;
  @include tablet {
    text-align: center;
  }

  @include mobile {
    font-size: 14px;
  }
}
